@import '../../../../style/palette';

.head {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 83px;
}

.cloudy {
  width: 114px;
  background-image: url("../../../../assets/weather-icon-cloudy.png");
}

.rainy {
  width: 100px;
  background-image: url("../../../../assets/weather-icon-rainy.png");
}

.sunny {
  width: 88px;
  background-image: url("../../../../assets/weather-icon-sunny.png");
}

.icon {
  margin-right: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 88px;
}

.current-date {
  display: flex;
  flex-direction: column;
}

.current-date p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: $color1;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.current-date span {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: $color1;
  text-transform: uppercase;
}